<a href="https://colab.research.google.com/github/cicily19/PandasSeries/blob/main/PandasSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Importing the libraries
import pandas as pd
import numpy as np

In [1]:
# converting a pythonlist to a panda series
sales = [0,5,155,0,518,0,1827,616,317,325]
print(type(sales))

<class 'list'>

In [5]:
sales_series = pd.Series(sales, name="Sales")
print(type(sales_series))

<class 'pandas.core.series.Series'>

In [6]:
sales_series

0       0
1       5
2     155
3       0
4     518
5       0
6    1827
7     616
8     317
9     325
Name: Sales, dtype: int64

In [7]:
# Properties of Pandas Series
# a) values: These are the values from the Numpy Array
# b) index: Ordered of accessing the values
# c) name : Option but can specify the series name(column name)
# d) dtype: Data Type in the values of the array

print(sales_series.values)
print(sales_series.index)
print(sales_series.name)
print(sales_series.dtype)

[   0    5  155    0  518    0 1827  616  317  325]
RangeIndex(start=0, stop=10, step=1)
Sales
int64

In [9]:
# CUSTOM INDICES
sales = [0, 5, 155, 0, 518]
items = ['coffee', 'banana', 'apple', 'oranges', 'grapes']

In [10]:
sales_series = pd.Series(sales, name = 'Sales', index = items)
sales_series

coffee       0
banana       5
apple      155
oranges      0
grapes     518
Name: Sales, dtype: int64

In [11]:
sales_series['banana']

5

In [ ]:
# Accessing items in Pandas Series
# a)iloc[index]
# b)loc[value]

In [12]:
sales_series.iloc[2]

155

In [13]:
sales_series.loc['apple']

155